:root {
    --primary-color: #0066cc;
    --secondary-color: #3498db;
    --accent-color: #e74c3c;
    --text-color: #2c3e50;
    --light-bg: #e6e9f0;
    --white: #ffffff;
    --text-color: #ffffff;
    --input-bg: #ffffff;
    --border-color: rgba(255, 255, 255, 0.2);
    --button-hover: #265686;
    --success-hover: #14940f;
    --danger-hover: #c51212;
}


body {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 6px;
    box-sizing: border-box;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font: 700 35px arial;
}

h4 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

fieldset {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 4px 5px;
    transition: border-color 0.3s ease;
}

fieldset:hover {
    border-color: #1abc9c;
}


legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    padding: 0 10px;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 10px;
    border: 1px solid var(--border-color);
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.text-section {
    display: flex;
    margin-bottom: 10px;
}

.text-label {
    font-weight: 500;
    font-size: 0.7rem;
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 4px 8px;
    width: 180px;
    white-space: nowrap;
    margin-right: 8px;
    align-self: center;
}

.text-input {
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 0px 8px;
    font-size: 1rem;
    color: #222;
}
.input-select{
     background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    text-align: center;
}
.btns {
    display: flex;
    justify-content: center;

}

.btn-submit{
    width: 400px;
    padding: 8px 0;
    font: 700 18px arial;
    color: var(--text-color);
    background-color: #469df3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-submit:hover {
    background-color: #0066cc;
}



.back-btn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
}

.back-btn a {
    color: black;
    text-decoration: none;
    font: bold 16px "MS Sans Serif", Arial, sans-serif;
    background-color: #C0C0C0;
    border: 2px outset #fff;
    padding: 6px 12px;
    display: inline-block;
    box-shadow: inset -1px -1px 0 #808080, inset 1px 1px 0 #ffffff;
    cursor: pointer;
}

.back-btn a:hover {
    background-color: #A0A0A0;
    border: 2px inset #000;
}