:root {
    --primary-color: #0066cc;
    --secondary-color: #003366;
    --text-color: #ffffff;
    --input-bg: #ffffff;
    --border-color: rgba(255, 255, 255, 0.2);
    --button-hover: #265686;
    --success-hover: #14940f;
    --danger-hover: #c51212;
}

body {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 6px;
    box-sizing: border-box;
    color: var(--text-color);
}

h1 {
    text-align: center;
    font: 700 35px arial;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 10px;
    border: 1px solid var(--border-color);
    height: 80vh;
}

/* FORM-HEADING */
.form-heading {
    display: flex;
    justify-content: space-around;
}

.row {
    display: flex;
    align-items: center;
    margin: 0 0 5px;
}

.text-section {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 0 5px 5px 0;
}

.text-label {
    font-weight: 500;
    font-size: 0.8rem;
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 4px 8px;
    width: 160px;
    margin-right: 3px;
}

.text-input,
.input-select,
.desc-input,
.desc-input-t,
.desc-select,
.desc-text-ar {
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 5px 8px;
}

.input-select {
    width: 187px;
    font-size: 0.8rem;
    text-align: center;
}

/* MAIN-COLLS */
.main-colls {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 0;
}

.left-coll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    width: 40%;
}

/* SENDER */
.sender {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 12px;
    width: 100%;
}

.sender-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
}

.sender-heading h2 {
    font: bolder 23px 'Segoe UI';
    margin: 8px 0 13px;
}

.opposite-button,
.btn-submit {
    width: 245px;
    padding: 7px 5px;
    font: 700 20px arial;
    color: var(--text-color);
    background-color: #469df3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

.opposite-button {
    width: 525px;
}

.opposite-button:hover {
    background-color: var(--button-hover);
}

.btn-submit:hover {
    background-color: var(--success-hover);
}



/* RIGHT-COLL */
.right-coll {
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.desc-input {
    width: 300px;
}

.desc-input-t {
    width: 130px;
}

.desc-time {
    width: 318px;
    display: flex;
    justify-content: space-between;
}

.desc-select {
    width: 318px;
    text-align: center;
    box-shadow: 0 0 0 2px var(--border-color);
    outline: none;
}

.desc-text-ar {
    width: 300px;
    text-align: center;
    box-shadow: 0 0 0 2px var(--border-color);
    outline: none;
}

.desc-text {
    display: flex;
    justify-content: end;
    width: 490px;
    margin: 0 0 5px;
}

.back-home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 245px;
    padding: 7px 5px;
    font: 700 20px arial;
    color: var(--text-color);
    background-color: #469df3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    z-index: 777;
}

.back-home-button:hover {
    background-color: var(--secondary-color);

}